html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(to top, #A9FACD, #f8f8f8);
    display: flex;


}

.login-container {
    width: 75%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10%;
    padding: 5%; /* Ajusta este valor según sea necesario */
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
}

.image-container {
    margin-right: 20px;
}

.image-container img{
    width: 90.5%;
    height: 100%;
    max-width: 100%;
    height: auto;
}

#miLabel {
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    line-height: 1.5; /* Ajusta este valor según sea necesario */
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="name"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1.5px solid #808080;
    font-size: 20px;
    border-radius: 7px;
    margin-bottom: 4px;
}

#BotonLogin {
    width: 49.3%;
    padding: 12px;
    margin-top: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    font-size: medium;
    border-radius: 7px;
    cursor: pointer;
}
#BotonLogin:hover {
    background-color: #40E68A;
    color: #fff;
    cursor: pointer;
}
