<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página 2</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #content.page2 {
            background-color: #f8f8f8;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-left: 200px; /* Ancho del menú */
            width: calc(100% - 200px); /* Ancho total menos el ancho del menú */
        }

        h2 {
            color: #333;
        }

        p {
            color: #555;
        }
    </style>
</head>
<body>
<h2>Estoy en Página 2</h2>
<p>¡Hola! Has seleccionado la segunda página de ejemplo.</p>
</body>
</html>
