<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="estilos-Login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
    </style>
    <title>Registro</title>
</head>
<body>
<div class="image-container">
    <img src="Imagenes/Create_a_logo_with_a_title_called_UDIACOS_that_h.jpg" alt="Imagen de perfil">
</div>

<div class="login-container">
    <h1 id="miLabel">Registro</h1>
    <label for="email">Correo electronico:</label>
    <input type="text" id="email" name="email" required>

    <label for="name">Nombre:</label>
    <input type="name" id="name" name="name" required>

    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required>

    <input id="BotonLogin" type="submit" value="Registrate">
    <input id="BotonVolver" type="submit" value="Volver">
</div>

</body>
</html>


