/* ======================ARTICULOS ======================*/
.image-container {
    display: grid;
    grid-template-columns:  1fr;
    gap: 2em; 
}

.image-wrapper {
    display: flex;
    align-items: flex-start; 
}

.image-wrapper img {
    width: 500px;
    height: 400px;
    margin-top: 15px;
}

.description-container {
    display: flex;
    flex-direction: column;
    
}

/* TITULOS DE LAS IMAGENES */
.description {
    margin-top: 15px;
    color:#07e062;
    margin: 15;
    margin-left: 1em; 
}

/* DESCRIPCIONES DE LAS IMAGENES */
.small-text { 
    color:#000000;
    margin-left: 1em; 
    margin-top: 5px; 
    word-wrap: break-word; 
    max-width: 300px;
}

.checkbox-label{
    display: inline-block; 
    margin-right: 10px; 
    margin-left: 10px; 
    
}

/* ======================ZONA DE INGRESO DE DATOS ======================*/
/* TITULO GRANDE DE LA PAGINA */
.title {
    position: fixed;
    top: 50;/* Margen del top */
    right: 200px; /* Margen a la derecha */
    font-size: 40px; /* Tamaño de fuente del título */
    color: #333; /* Color del título */
}

.additional-content {
    display: flex;

}

/* LABELES PEQUEÑOS DEBAJO DEL TITULO */
.additional-text {
    font-size: 25px; /* Tamaño de fuente para el texto adicional */
    color: #666; /* Color del texto adicional */
    margin-top: 30px; /* Espacio en la parte superior del texto adicional */
    margin-left: 3px;
    word-wrap: break-word;
    max-width: 550px;
}

.additional-result{
    font-size: 25px; 
    color: #666; 
    margin-top: 30px;
    margin-left: 20px;
    word-wrap: break-word;
    max-width: 550px;
}

select{
    margin-top: 33px;
    width: 175px; /* Ancho deseado para el combo box */
    height: 25px; /* Largo deseado para el combo box */
    margin-left: 20px; /* Margen a la izquierda para separar del texto adicional */
    
}

.custom-textarea {
    height: 20px;
    width: 400px; /* Ancho deseado para el área de texto */
    margin-left: 20px; /* Margen a la izquierda para separar del texto adicional */
    resize: none; /* Evita que el usuario cambie el tamaño del área de texto */
    font-size: 16px; /* Tamaño de fuente para el área de texto */
    margin-top: 30px; /* Espacio en la parte superior del área de texto */
}

.small-additional-text {
    font-size: 18px; /* Tamaño de fuente más pequeño */
    color: #666; /* Color del texto adicional */
    margin-top: 10px; /* Espacio en la parte superior del texto adicional */
    margin-left: 3px;
}

.textarea-extra {
    height: 20px;
    width: 400px; /* Ancho deseado para el área de texto */
    resize: none; /* Evita que el usuario cambie el tamaño del área de texto */
    font-size: 16px; /* Tamaño de fuente para el área de texto */
    margin-bottom: 50px;
    margin-top: 10px; /* Espacio en la parte superior del área de texto */
}

.button-calcular{
    font-size: 15px;
    height: 40px;
    width: 100px;
}

.button-limpiar{
    font-size: 15px;
    height: 40px;
    width: 100px;
    margin-left: 100px;
}